.container{
    min-height: 100vh;
    width: 100vw;
    background-color:rgb(250, 241, 211);
    color: rgb(7, 2, 2);
    position: relative;
    padding-bottom: 10rem;
}

.header{
    border-bottom: solid 1px rgb(207, 156, 156);
    margin-bottom: 2rem;
}

.header .title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:rgb(252, 184, 36);
}

.searchBar{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    border-radius: 5px;
    border: solid 2px rgb(252, 184, 36);
    margin-bottom: 1rem;
}

.input{
    background-color: white;
    padding: 1rem;
    width: 400px;
    font-size: 1.3rem;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.searchButton{
    color: white;
    background-color: rgb(252, 184, 36);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    width: 5rem;
    font-size: 1.3rem;
}
.searchButton:hover{
    background-color: rgb(255, 183, 28);
}
.searchButton:active{
    background-color: rgb(250, 178, 21);
}


/* recipes */

.recipesContainer{
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

.recipesContainer .title{
    font-size: 2rem;
    margin-bottom: 4rem;
}


.recipesCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    gap: 1rem;
}

.card{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    position: relative;
    height: auto;
}

.card:hover{
    transform: translateY(-2px);
}

.image{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 70%;
}

.image img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipeInfo{
    width: 98%;
    color: rgb(48, 46, 46);
    
}



.recipeInfo .title{
    font-size: 1.6rem;
    color: black;
}

.learnMore{
    position: absolute;
    font-size: 1.3rem;
    color: rgb(247, 43, 43);
    text-decoration: underline;
    bottom: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.arrow img{
    position: absolute;
    bottom: -2px;
    width: 20px;
    transition: .1s;
}

.navButtons{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    width: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 5rem;
    padding-bottom: 4rem;
}

.button{
    font-size: 1.3rem;
    background-color: rgb(252, 184, 36);
    color: white;
    padding: 0.5rem;
    width: 8rem;
    border-radius: 5px;
}

.loading{
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.errorr{
    font-size: 1.5rem;
    margin: 0 auto;
    color: rgb(253, 86, 86);
    width: 100%;
    text-align: center;
}

.signature {
    position: absolute;     
    bottom: 10px;          
    left: 50%;             
    transform: translateX(-50%); 
    text-align: center;
    font-size: 1.2rem;
    color:rgb(97, 94, 94);         
}


@media(max-width:48rem){
    .container{
        width: 100%;
    }


    .recipesCards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
        gap: 1rem;
    }

}
@media(max-width:30rem){

    .header .title{
        font-size: 2rem;
    }

    .recipesContainer .title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .header{
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .recipesCards{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0.5rem;
        gap: 1rem;
    }

    .searchBar{
        width: 90%;
    }

    .input{
        padding: 1rem;
        width: 80%;
    }
    .searchButton{
        width: 20%;
    }

    .card{
        width: 100%;
    }

    .recipeInfo{
        width: 98%;
        margin: 2rem auto;
        color: rgb(48, 46, 46);
    }

}
